body {
    width: 100%;
}

header {
    position: relative;
    background-color: #ffffff;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". .";
    padding-bottom: 25px;
    padding-top: 5px;
    font-size: 1.2em;
}

header * {
    text-decoration: none;
    color: black;
}

#headerTitle * {
    text-align: left;
}

#headerButtons {
    text-align: right;
    padding-right: 2.5vw;
    font-size: 2em;
}

#headerButtons * {
    margin: 2.5px;
    cursor: pointer;
}

footer {
    position: relative;
    z-index: 2;
    text-align: left;
    padding-left: 2.5vw;
    padding-bottom: 5px;
    padding-top: 25px;
}

#liste {
    position: relative;
    z-index: 1;
    width: 95vw;
    margin: 30px auto;
    border-radius: 25px;
    background: #fff5f5;
    box-shadow: -15px 15px 20px #dddddd, 15px -15px 20px #ffffff;
}

#listeLigne {
    display: block;
    text-align: left;
    padding: 25px 20px 25px 20px;
}

#listeLigne * {
    display: inline-block;
    color: black;
}

#listeLigne>a {
    text-decoration: none;
}

.menuListe {
    position: fixed;
    z-index: 99;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0);
    display: none;
    text-align: right;
}

.menuListe * {
    padding: 10px 25px;
}

.menuInternal {
    right: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: white;
    height: 100vh;
    width: 95%;
    max-width: 400px;
    border-left: 2px solid black;
    text-align: right;
}

.menuInternal * {
    text-align: left;
}

/* Menu */

* {
    transition: opacity 0.3s ease-in-out;
}

.active-mode * {
    overflow-y: hidden;
}

.active-mode main, 
.active-mode header, 
.active-mode footer {
    opacity: 0.2;
}

.active-mode .menuListe {
    display: block !important;
}

.menuDeroulant {
    z-index: 1000 !important;
}